DISCORD_BOT_TOKEN=************************
clientId=************************
ownerId=************************
guildId=************************
VOICEVOX_API_URL=http://voicevox:50021
VOICEVOX_isAuth=false
VOICEVOX_API_TOKEN=************************
VOICEVOX_Speaker_Id=3
